.wrapper {
	display: flex;
	align-items: center;
	gap: 6px;
	padding: 5px 0;
	--icon-color: var(--base-primary);

	& .loader {
		animation: 1s loader linear infinite;
	}
}

.message {
	font-weight: bold;
	font-size: 0.9rem;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
